[Unit]
Description=IPTV DB - Sync Worker
After=network.target iptv-pb.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/iptv/worker
ExecStart=/usr/bin/node /opt/iptv/worker/index.js
Restart=always
RestartSec=5
EnvironmentFile=/opt/iptv/.env

[Install]
WantedBy=multi-user.target
